            .button {
                background-color: #04AA6D; /* Green */
                border: none;
                color: white;
                padding: 5px 30px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 2px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
            }

            .buttonSec {
                background-color: #FF0000;
                border: none;
                color: white;
                padding: 5px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 14px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
            }

            .buttonTh {
                background-color: #04AA6D;
                border: none;
                color: white;
                padding: 5px 28px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 14px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
            }

            .buttonRd {
                background-color: #4D77FF;
                border: none;
                color: white;
                padding: 5px 28px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 14px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
            }

            .button1:hover {
                background-color: white;
                color: #04AA6D;
            }

            .button2:hover {
                background-color: white;
                color: #04AA6D;
            }

            .button3:hover {
                background-color: white;
                color: #FF0000;
            }

            .button4:hover {
                background-color: white;
                color: #4D77FF;
            }
